DB_SERVER=
DB_NAME=WEB_YIQI
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true

CONTACT_MAIL_TO=comercial@yiqi.com.ar
CONTACT_SENDER_MAIL=info@yiqi.com.ar
CONTACT_SENDER_NAME=YiQi Web
CONTACT_AUDIT_USER=WEB
CONTACT_ALLOWED_ORIGINS=

NEXT_PUBLIC_SITE_URL=
SITE_URL=
BLOG_ENABLE=true
