.DS_Store
examples/

# textos sueltos
*.txt

# PERMITIR Design System
!content/design-system/
!content/design-system/*.md

# PERMITIR prompts
!content/prompts/*.md

# PERMITIR contexto
!content/context/*.md
